<div class="user-details">
  <h1> Hi, I'm Danica! </h1>
  <p> Statistics Major at University of New South Wales </p>
</div>
<div class="user">
    <div class="tech">
      <h3>Code</h3>
      <i class="devicon-python-original-wordmark"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-html5-plain-wordmark"></i>  
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
    </div>
    
    <div class="tech">
      <h3>Visualisation</h3>
      
    </div>
    <div class="tech">
      <h3>Data</h3>
      <p>Proficient in Pandas, NumPy, Matplotlib, Seaborn, scikit-learn and other Python Packages.</p>                                                                                                             
      <p>I have experience in creating content using <b>Canva</b>, <b>Figma</b>, <b>iMovies</b> for Facebook, Instagram and prototype wireframes.</p>
      <p><strong>Other programming languages:</strong></p>                                                                                                              
    </div>
</div>
<br><hr>
