<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
    <div class="tech">
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-html5-plain-wordmark"></i>    
      <p>Proficient in Pandas, NumPy, Matplotlib, Seaborn, scikit-learn and other Python Packages.</p>                                                                                                             
      <p>I have experience in creating content using <b>Canva</b>, <b>Figma</b>, <b>iMovies</b> for Facebook, Instagram and prototype wireframes.</p>
      <p><strong>Other programming languages:</strong></p>                                                                                                              
    </div>
</div>
<br><hr>
